html, body {
  -webkit-overflow-scrolling: touch;
}

body{
  font-family: 'Merriweather', serif;
}

.main-content{
  background-color: rgb(243, 240, 240);
}



/* Navbar */
.navbar{
  background-color: rgb(243, 240, 240);;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ddd;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  text-align: center;
}
.logo{
  height: 80px;
  width: 80px;
}
#logo{
  float: left;
}
.navbar-nav > li {
  float: none;
}
.navbar a{
  color: gray;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .navbar-nav {
    margin-left: auto;
  }
  .navbar-nav > li {
    float: right;
  }
  #logo {
    margin-right: auto;
    margin-left: 20px;
  }
}
@media only screen and (min-width: 992px) {
  #logo {
    margin-right: 500px;
    margin-left: 200px;
  }
}
.navbar a {
  color: gray;
  text-decoration: none;
}



/* Display Image */



.display-image {
  position: relative;
  height: 800px;
  overflow: hidden;
}
.main-attraction {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.display-img-text {
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(0%, -50%);
  background-color: rgba(243, 240, 240,0.4);
  width: 100%;
  max-width: 360px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  z-index: 100;
  padding: 290px 20px 200px 20px;
}
.works {
  padding: 10px;
  background-color: rgb(203, 185, 165);
}
.social img{
  height: 25px;
  width: 25px;
  margin-top: 20px;
  padding: 1px;
}
.works:hover{
  background-color: rgb(227, 184, 115);
}
@media screen and (max-width: 768px) {
  .display-image {
    height: 800px;
  }
  .display-img-text {
    max-width: none;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    padding: 300px 0px 300px 0px;
  }
}
@media screen and (max-width: 480px) {
  .display-image {
    height: 800px;
  }
  .display-img-text {
    top: 30%;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    display: none !important;
  }
  .display-image-text {
    position: absolute;
    left: 0%;
  }
}
@media (max-width: 767px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.show {
    display: flex !important;
  }
}
@media screen and (max-width: 768px) {
  .display-image {
    height: 800px; /* Adjust the height for smaller screens */
    width: auto;
  }
  .display-img-text {
    max-width: none;
    width: 80%;
    top: 30%; /* Adjust the position for smaller screens */
    transform: translate(-50%, -50%);
    padding: 120px 20px; /* Adjust the padding for smaller screens */
  }
}
@media screen and (max-width: 480px) {
  .display-image {
    height: 800px; /* Adjust the height for smaller screens */
    width: auto;
  }
  .display-img-text {
    top: 57%; /* Adjust the position for smaller screens */
    padding-top: 180px  ; /* Adjust the padding for smaller screens */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 173px;
  }
}



/* Quote */



.quote {
  text-align: center;
  padding: 60px 0;
  font-family: 'Merriweather', serif;
  font-weight: 500;
  background-color: rgb(243, 240, 240);;
}
.quote h1{
  font-weight: 600;
}





/* Services Div */





.image-container img {
  height: 550px;
}
.image-container {
  position: relative;
}
.image-overlay {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.image-container:hover .image-overlay {
  opacity: 1;
}
.image-overlay h3 {
  margin: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
/* Position image overlay in bottom left corner */
.image-overlay {
  position: relative;
  bottom: 105px;
  left: 0px;
  padding: 15px;
  color: #fff;
}
/* Set font size and margin for image overlay title */
.image-overlay h3 {
  font-size: 20px;
  margin: 0;
}
/* Remove gutters between columns */
.row {
--bs-gutter-x: 0rem;
}
/* Set full width for all columns on tablets and larger screens */
@media (min-width: 768px) {
  .col-sm-6 {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
/* Display only one image at a time on mobile screens */
@media (max-width: 767px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .image-overlay{
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    transition: none;  

  }
}
@media only screen and (max-width: 767px) {
  .image-container {
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-bottom: -51.5px;
  }
  .image-container img{
    height: 400px;
  }
  .image-overlay-mobile{
    position: relative;
    bottom: 40px;
  }
  .image-overlay-b{
    position: relative;
    bottom: 52px;
  }
}
#services{
  background-color: rgb(243, 240, 240);
}
.carousel-cell{
  width: 33%;
  height: 500px;
  margin-right: 8px;
}
.carousel-item{
  display: inline;
  height: 500px;
}
@media only screen and (max-width: 767px){ 
  .carousel-cell{
    width: 100%;
    margin-right: 0;
  }
  .image-overlay{
    position: relative;
    bottom: 52px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .image-container img{
    height: 400px;
  }
  .image-overlay{
    position: relative;
    bottom: 53px;
  }
  .about-wrapper{
    display: block;
  }
  .about-text{
    border-top: 4px solid rgb(160, 133, 89);
    padding-top: 0px;
  }
}







/* About */




.about{
  background-color: rgb(243, 240, 240);
  margin-top: 60px;
}

@media screen and (min-width: 992px) {
  .about-wrapper {
    width: 85%;
    margin: auto;
  }
  .about-heading{
    min-width: 300px;
  }
  .about-text-border p{
    border-left: 4px solid rgb(160, 133, 89);
  }
}
.about-wrapper{
  display: flex;
  justify-content: center;
  padding: 80px 40px;
}
.about-heading h1{
  font-weight: 600;
  font-size: 24px;
  text-align: start;
  text-justify: inter-word;
}
.order:hover{
  background-color: rgb(227, 184, 115);
}
/* Styles for mobile screens */
@media only screen and (max-width: 600px) {
  .about{
    margin-top: 20px;
  }
  .about-wrapper{
    display: block;
    padding: 15px;
  }
  .about-text-border{
    border-top: 4px solid rgb(160, 133, 89);
  }
  .about-heading h1{
    /* margin-right: 10px; */
    margin-bottom: 20px;
    text-align: center;
  }
  .about-text{
    margin-right: 15px;
  }
  .order{
    width: max-content;
    position: relative;
    left: -30px;
    top: -10px;
    margin-bottom: 20px;
  }
  .about-text-border p{
    padding-top: 20px;
    position: relative;
    left: -20px;
  }
}
.order{
  background-color: rgb(160, 133, 89);
  position: relative;
  top: 20px;
}





/* Banner */




.banner-section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(57, 56, 56);
  padding: 20px 0;
  height: 250px;
}
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-right: 10px;
}
.banner-container > div:last-child{
  border: none;
}
.banner-container .second-child{
  margin-left: 10px;
}
.banner-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-right: 1px solid #ffffff;
  margin-bottom: 10px;
}
.banner-item svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  fill: rgb(227, 184, 115);
}
.banner-image{
  fill:rgb(227, 184, 115)
}
.banner-item p {
  color: #ffffff;
  font-size: 14px;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .banner-container{
    display: flex;
    flex-wrap: wrap;
    float: left;
    flex-grow: 1;
  }
  .banner-item{
    display: flex;
    margin-bottom: 0;
  }

  .banner-container > div:last-child{
    border-right: 1px solid #ffffff;
  }
}




/* Testimonials */





#testimonial{
  padding: 80px 40px;
}
.testimonial {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 240, 240);
  color: #3d5a80;
}
.test-heading{
  display: flex;
  justify-content: center;
}
.test-heading h2{
  font-weight: bold;
  color: rgb(160, 133, 89);
}
.testimonial-text{
  display: flex;
  justify-content: center;
  text-align: center;
}
.testimonial-text p{
  font-size: 18px;
  font-weight: bold;
}

.testimonial-slide {
  padding: 40px 20px;
}
.testimonial_box-top {
  background-color: rgb(243, 240, 240);
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.45);
}
.testimonial_box-icon {
  padding: 10px 0;
}
.testimonial_box-icon i {
  font-size: 25px;
  color: #14213d;
}
.testimonial_box-text {
  padding: 10px 0;
}
.testimonial_box-text p {
  color: #293241;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.testimonial_box-img {
  padding: 20px 0 10px;
  display: flex;
  justify-content: center;
}
.testimonial_box-img img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #e5e5e5;
}
.testimonial_box-name {
  padding-top: 10px;
}
.testimonial_box-name h4 {
  font-size: 20px;
  line-height: 25px;
  color: #293241;
  margin-bottom: 0;
}
.testimonial_box-job p {
  color: #293241;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
}





/* Order */


#order{
  background-color: rgb(57, 56, 56);
  padding: 100px;
  color: #fff;

}
#order p{
  font-size: 16px;
}
.contact-heading{
  display: flex;
  justify-content: center;
  padding: 20px;
  color: #fff;
  margin-top: -50px;
}
.contact-heading h1{
  font-weight: 700;
}
.details{
  display: flex;
  justify-content: center;
}
.details h5{
  color: rgb(227, 184, 115);
  font-weight: 600;
}
.phone-details{
  width: 33%;
  display: block;
  float: left;
  text-align: center;
}
.office-address{
  display: block;
  width: 33%;
  float: left;
  text-align: center;
}
.work-timings{
  display: block;
  width: 33%;
  float: left;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  #order{
    background-color: rgb(57, 56, 56);
    padding: 50px 20px;
    color: #fff;
  }
  #order p{
    font-size: 16px;
  }
  .contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -30px;
  }
  .contact-heading h1{
    font-weight: 700;
    font-size: 30px;
  }
  .details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .details h5{
    color: rgb(227, 184, 115);
    font-weight: 600;
    margin-bottom: 10px;
  }
  .phone-details{
    width: 100%;
    text-align: center;
  }
  .office-address{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .work-timings{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
}





/* Footer */
#footer {
  background-color: rgb(243, 240, 240);
  color: rgb(57, 56, 56);
  padding: 20px 0;
  text-align: center;
  align-items: center;
}
.footer-container {
  max-width: 1200px;
   margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text{
  margin: 10px auto;
}
@media only screen and (max-width: 768px){
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social{
    margin-top: 20px;
  }
}